<!DOCTYPE html>
<html>
  <head>
    <title> Email Delivery status</title>
    <h1>EMAIL DELIVERY STATUS</h1>
    <br>
    <label for ="Date">Date</label>
    <input type="date" id="date">
    <br>
    <label for ="Status">Status</label>
    <select name="Status"id="Status">
      <option>All</option>
      <option>Successful</option>
      <option>failed</option>
      <option>queued</option>
    </select>
    <br>
    <label for ="Practice">Practice</label>
    <select name="Practice" id="Practice">
      <option> All </option>
      <option>Java</option>
      <option>TMT</option>
      <option>SAP</option>
    </select>
    </head>
  <body>
    
  </body>
</html>